:root {
    --navTextColor: #4076ff;
}

* {
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #d0d2db;
}
#logo {
    height: 100px;
}

.userDisplay {
    position: relative;
    font-size: larger;
    color: var(--navTextColor);
    text-decoration: none;
    margin-left: 40px;
    padding-bottom: 20px;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 10px;
    padding-right: 70px;
    background: linear-gradient(
        180deg, #f0efef, #e3e1e1
    );
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
.logoDisplay {
    display: flex;
}

.webname {
    color: var(--navTextColor);
    position: relative;
    top: 5px;
    right: 20px;
}
.nava {
    position: relative;
    font-size: larger;
    color: var(--navTextColor);
    text-decoration: none;
    margin-left: 50px;
    padding-bottom: 20px;
}
.nava::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    border-bottom: 3px solid #0037ff;
    border-radius: 5px;
    left: 0;
    bottom: 15px;
    transform: scaleX(0);
    transition: 0.2s;
    text-decoration: underline;
}
.nava:hover:after {
    transform: scaleX(1);
}

.btnLogin {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #4076ff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #4D6CFA;
    margin-left: 40px;
    transition: 0.3s;
}
.btnLogin:hover {
    background: #B8B8FF;
}
#dropdown-arrow {
    margin-left: 5px;
}

.sub-menu-wrap {
    position: absolute;
    top: 100%;
    right: 2%;
    width: 200px;
    padding: 10px;
    margin: 10px;
    background: white;
}

.sub-menu {
    padding: 20px;
}
.user-info {
    display: flex;
    align-items: center;
}
.user-info h3 {
    font-weight: 500;
    margin-left: 10px;
}
.user-info img {
    width: 50px;
    border-radius: 50%;
}
.sub-menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.sub-menu-link p {
    width: 100%;
    margin: 13px 0;
    margin-left: 15px;
    font-size: 18px;
    color: #555555;
}
.right-arrow {
    margin-right: 5px;
    height: 21px;
    width: 35px;
    transition: 0.5s;
}
.sub-menu-link:hover p {
    font-weight: 550;
}

#menu-item-1:hover #menu-img-1 {
    transform: translateX(3px);
}
#menu-item-2:hover #menu-img-2 {
    transform: translateX(3px);
}
#menu-item-3:hover #menu-img-3 {
    transform: translateX(3px);
}

#close {
    position: absolute;
    top: 25px;
    right: 25px;
    background: transparent;
    border: none;
    transform: scale(0.9);
    transition: 0.5s;
}
#close:hover {
    transform: scale(1);
}
#userIcon {
    position: absolute;
    top: 36px;
    right: 30px;
    height: 50px;
    width: 50px;
    z-index: 2;
}

.error {
    animation: shakeno 0.5s;
}
@keyframes shakeno {
    0% {
        margin-left: -10px;
    }
    25% {
        margin-left: 10px;
    }
    50% {
        margin-left: -10px;
    }
    75% {
        margin-left: 10px;
    }
    100% {
        margin-left: -10px;
    }
}