* {
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.userDisplay {
    position: relative;
    font-size: larger;
    color: rgba(175, 0, 215, 0.751);
    text-decoration: none;
    margin-left: 40px;
    padding-bottom: 20px;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: linear-gradient(180deg, rgb(255, 187, 104), rgb(255, 227, 196));
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.webname {
    color: rgba(175, 0, 215, 0.751);
}
.nava {
    position: relative;
    font-size: larger;
    color: rgba(175, 0, 215, 0.751);
    text-decoration: none;
    margin-left: 40px;
    padding-bottom: 20px;
}
.nava::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    border-bottom: 3px solid rgba(119, 76, 212, 0.508);
    border-radius: 5px;
    left: 0;
    bottom: 15px;
    transform: scaleX(0);
    transition: 0.2s;
    text-decoration: underline;
}
.nava:hover:after {
    transform: scaleX(1);
}

.nava .btnLogin {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid rgba(175, 0, 215, 0.751);
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: rgba(175, 0, 215, 0.751);
    margin-left: 40px;
    transition: 0.3s;
}
.nava .btnLogin:hover {
    background: #ffe2be;
}

#close {
    position: absolute;
    top: 25px;
    right: 25px;
    background: transparent;
    border: none;
    transform: scale(0.9);
    transition: 0.5s;
}
#close:hover {
    transform: scale(1);
}
.error {
    animation: shakeno 0.5s;
}
@keyframes shakeno {
    0% {
        margin-left: -10px;
    }
    25% {
        margin-left: 10px;
    }
    50% {
        margin-left: -10px;
    }
    75% {
        margin-left: 10px;
    }
    100% {
        margin-left: -10px;
    }
}