$navTextColor: #4076ff;

* {
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    min-height: 100vh;
    background: #d0d2db;
}

#logo {
    height: 100px;
}
.logoDisplay {
    margin-left: -10px;
    display: flex;
}
.webname {
    color: $navTextColor;
    position: relative;
    top: 5px;
    right: 20px;
}

.userDisplay {
    position: relative;
    font-size: larger;
    color: $navTextColor;
    text-decoration: none;
    margin-left: 40px;
    padding-bottom: 20px;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 794px;
    width: 100%;
    padding-top: 10px;
    padding-right: 70px;
    background: linear-gradient(180deg, #f0efef, #e3e1e1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    ::-webkit-scrollbar {
        display: none;
    }
}

@media screen and (min-width: 794px) {
    header {
        position: fixed;
    }
}

.nava {
    position: relative;
    font-size: larger;
    color: $navTextColor;
    text-decoration: none;
    margin-left: 50px;
    padding-bottom: 20px;
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        border-bottom: 3px solid #0037ff;
        border-radius: 5px;
        left: 0;
        bottom: 15px;
        transform: scaleX(0);
        transition: 0.2s;
        text-decoration: underline;
    }
    &:hover:after {
        transform: scaleX(1);
    }
}

.btnLogin {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #4076ff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #4D6CFA;
    margin-left: 40px;
    transition: 0.3s;
    &:hover {
        background: #B8B8FF;
    }
}

#dropdown-arrow {
    margin-left: 5px;
    vertical-align: middle;
}

.sub-menu-wrap {
    position: absolute;
    display: none;
    top: 95%;
    right: -100%;
    width: 200px;
    padding: 10px;
    margin: 10px;
    background: #FFF;
    transition: 0.2s;
    z-index: 1;
}

#displayName {
    &:hover {
        .sub-menu-wrap {
            display: block;    
        }
    }
}

.user-info {
    display: flex;
    align-items: center;
    h3 {
        font-weight: 500;
        margin-left: 10px;
    }
    img {
        width: 50px;
        border-radius: 50%;
    }
}

.sub-menu {
    padding: 20px;
}
.sub-menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    p {
        width: 100%;
        margin: 13px 0;
        margin-left: 15px;
        font-size: 18px;
        color: #555555;
    }
    &:hover {
        p {
            font-weight: 550;
        }
    }
}
.right-arrow {
    margin-right: 5px;
    height: 21px;
    width: 35px;
    transition: 0.5s;
}

#dropdown-arrow {
    width: 17px;
}

@for $i from 1 through 3 {
    #menu-item-#{$i}:hover {
        #menu-img-#{$i} {
            transform: translateX(3px);
        }
    }
}

#close {
    position: absolute;
    top: 25px;
    right: 25px;
    background: transparent;
    border: none;
    transform: scale(0.9);
    transition: 0.5s;
    &:hover {
        transform: scale(1);
    }
}

#userIcon {
    position: absolute;
    top: 36px;
    right: 30px;
    height: 50px;
    width: 50px;
    z-index: 2;
}

.error {
    animation: shakeno 0.5s;
}
@keyframes shakeno {
    0% {
        margin-left: -10px;
    }
    25% {
        margin-left: 10px;
    }
    50% {
        margin-left: -10px;
    }
    75% {
        margin-left: 10px;
    }
    100% {
        margin-left: -10px;
    }
}