:root {
    --accBoxHeight: 550;
    --accBoxHeightBox: 500px;
}
h1 {
    color: rgba(175, 0, 215, 0.751);
}
#header {
    font-size: 2.5em;
    color: rgba(175, 0, 215, 0.751);
    margin-bottom: 60px;
}
body {
    overflow-y: hidden;
}

.accountBox {
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: max(50%, 425px);
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(
        45deg, #dbdbdb, #DCCFEC
    );
    width: 500px;
    min-height: var(--accBoxHeightBox);
    max-height: var(--accBoxHeightBox);
    border-radius: 20px;
    padding: 10px;
    z-index: 1;
}

.dataElements {
    position: relative;
    margin-top: calc(40 / var(--accBoxHeight) * 100%);
    font-size: large;
    text-align: center;
    background-color: lightgray;
    border: none;
    border-bottom: rgb(183, 161, 101) solid 3px;
    background: transparent;
}
.dataElements:focus {
    outline: none;
}
.wraps {
    width: 100%;
    position: relative;
}
#profilePhoto {
    height: 130px;
    width: 130px;
    margin: auto;
    margin-bottom: -40px;
}
#Email {
    width: 260px;
}
#Username {
    width: 222px;
}
#Passwd {
    width: 225px;
}
#cover {
    position: absolute;
    height: 110%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 3;
    opacity: 0.4;
}

.labels {
    color: #4C5454;
    font-size: larger;
}

#logout {
    margin-top: 40px;
    width: 120px;
    height: 35px;
    border-radius: 18px;
    background-color: rgb(200, 200, 200);
    font-size: 20px;
}
#logout:hover {
    background-color: rgb(180, 180, 180);
    transition: 0.2s;
}

#pdIcon {
    transform: scale(1);
    transition: 0.3s;
}
#pdIcon:hover {
    transform: scale(1.2);
}
#pdIcon:hover::after {
    transform: scale(1);
}

#passwordPromptDiv {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgb(196, 196, 196);
    height: 100px;
    width: 300px;
    text-align: center;
    border-radius: 5px;
    transform: scale(0);
    transition: 0.1s;
    z-index: 4;
    padding: 10px;
}
#passwordPrompt {
    width: 220px;
    height: 20px;
    text-align: center;
}
#passwordClose {
    position: absolute;
    top: 0;
    left: 250px;
    right: 0;
    bottom: 70px;
    margin: auto;
    background: transparent;
    border: none;
}
#promptMessage {
    color: rgb(234, 3, 3);
}

#passwordCloseImg {
    height: 15px;
    transition: 0.1s;
    transform: scale(1);
}
#passwordCloseImg:hover {
    height: 15px;
    transform: scale(1.1);
}

#promptButton {
    margin-bottom: 20px;
    width: 80px;
    height: 20px;
    border-radius: 5px;
    background: lightgray;
    transition: 0.1s;
    border: 1px solid black;
}
#promptButton:hover {
    background-color: rgb(186, 186, 186);
}
#promptButton:hover:after {
    background: lightgray;
}